html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.full-size {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* or overflow:auto; if you want scrollbars */
}

#main {
    background-color: black;
}

.line {
    width: 50px;
    height: 2px;
    background-color: white;
    /* background: linear-gradient(90deg, red 50%, blue 50%); */
    position: fixed;
    top: 0px;
    left: -25px;
    overflow: hidden;
.hit {
    position: fixed;
    height: 10px;
    width: 10px;
    background-color: green;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.dot {
    position: fixed;
    height: 10px;
    width: 10px;
    background-color: pink;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}